<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{Book.author}}</p>
  <p>
    <span class="isbn">{{Book.isbn}}</span>
    ISBN:
    {{Book.isbn}}
  </p>
  <p>
    <button class="btn btn-primary">Read This Book!</button>
  </p>
</div>