<!-- Loop over each object in the book array -->
{{#each Book as |Book|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/book/{{Book.id}}">{{Book.name}}</a>
      </h2>
      <p>
        <!-- Pass number value to the helper function -->
        <span class="isbn">{{Book.isbn}}</span>
        ISBN:
        {{Book.isbn}}
      </p>
      <p>Added by
        {{Book.user.name}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{Book.Title}}
      </p>
    </div>
  </div>
{{/each}}