{{!-- {{! add last viewed book title, book cover, description, author, publisher, publish date, and preview link }}

{{#if lastViewedBook.title}}
  <div class="last-viewed-book">
    <h3>Last viewed book</h3>
    <p>{{lastViewedBook.title}}</p>
  </div>
  {{! add last viewed book cover }}
  <div class="last-viewed-book-cover">
    <img src="{{lastViewedBook.cover}}" alt="Last viewed book cover" />
  </div>
  {{! add last viewed book description }}
  <div class="last-viewed-book-description">
    <p>{{lastViewedBook.description}}</p>
  </div>
  {{! add last viewed book author }}
  <div class="last-viewed-book-author">
    <p>{{lastViewedBook.author}}</p>
  </div>
  {{! add last viewed book publisher }}
  <div class="last-viewed-book-publisher">
    <p>{{lastViewedBook.publisher}}</p>
  </div>
  {{! add last viewed book published date }}
  <div class="last-viewed-book-published-date">
    <p>{{lastViewedBook.publishedDate}}</p>
  </div>
  {{! add last viewed book page count }}
  <div class="last-viewed-book-page-count">
    <p>{{lastViewedBook.pageCount}}</p>
  </div>
  {{! add last viewed book preview link }}
  <div class="last-viewed-book-preview-link">
    <a href="{{lastViewedBook.previewLink}}" target="_blank">Preview</a>
  </div>
{{/if}} --}}